
        <section>
            <div class="services">
                <h3 class="title">Cursos:<a href="#editarcursos">⠀<button class="button-85" role="button">✏️</button></a>⠀<a  href="#eliminarcursos"><button class="button-85" role="button">🗑️</button></a></h3>
                <div class="box-container">
                    <div class="box">
                        <img loading="lazy" src="../assets/certificados/HTML-CSS-1.png" alt="">
                        <h3>HTML-CSS-1</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/certificados/HTML-CSS-2.png" alt="">
                        <h3>HTML-CSS-2</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/certificados/linux.png" alt="">
                        <h3>Linux</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/certificados/marketing.png" alt="">
                        <h3>marketing</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/certificados/networking.png" alt="">
                        <h3>networking</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/certificados/python.png" alt="">
                        <h3>python</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/certificados/seguridadtele.png" alt="">
                        <h3>Seguridad en el teletrabajo</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/certificados/seprogramar.png" alt="">
                        <h3>Se programar Argentina</h3>
                    </div>
                </div>
            </div>
            </section>
    

            <div id="editarcursos" class="modalmask">
                <div class="modalbox movedown">
                        <div class="login">
                            <h1 class="text-center" style="color: aliceblue; text-align: center;">Menu de editar cursos</h1>
                            <form action="#" target="" method="get" name="formDatosPersonales">
                                <label for="Habilidad">Habilidad:</label>
                                <input name="Habilidad" id="Habilidad" placeholder="Nombre de la Habilidad" required />
                                <label for="Porcentaje">Imagen:</label>
                                <input type="file" name="archivosubido">
                                <input type="submit" name="enviar" value="enviar datos"/>
                            </form>
            
                        </div>
                    </div>
                </div>
            
            
                <div id="eliminarcursos" class="modalmask">
                    <div class="modalbox movedown">
                            <div class="login">
                                <h1 class="text-center" style="color: aliceblue; text-align: center;">Menu de eliminar</h1>
                                <form action="#" target="" method="get" name="formDatosPersonales">
            
                                    <label for="email" >Eliminar:</label>
                                    <div>
                                        <select>
                                          <option value="opcion-1">HTML</option>
                                          <option value="opcion-2">CSS</option>
                                          <option value="opcion-n">JavaScript</option>
                                          <option value="opcion-n">PHP</option>
                                          <option value="opcion-n">Angular</option>
                                          <option value="opcion-n">MySql</option>
                                        </select>
                                      </div>
                                    <input type="submit" name="enviar" value="enviar datos"/>
                                </form>
            
                            </div>
                        </div>
                    </div>