  <!-- Cursos-->
  <section class="imagen-banner" id="cursos">
    <div class="filtro-oscuro-imagen"></div>

    <div class="container">
        <div class="fila">
            <div class="col-md-12 section-heading"><!-- col-md-12 Bootstrap -->
                <h2>Cursos</h2>
            </div>
        </div>
        <div class="fila">
            <div class="col-md-4 text-center"><!-- col-md-4 Bootstrap -->
                <span class="lnr lnr-user"></span>
                <h2>#Séprogramar</h2>
                <p>Curso de introduccion a los conocimientos basicos de la programacion</p>
            </div>
            <div class="col-md-4 text-center"><!-- col-md-4 Bootstrap -->
                <span class="lnr lnr-user"></span>
                <h2>Linux Essentials (Cisco)</h2>
                <p>Curso del manejo de linux como servidor</p>
            </div>
            <div class="col-md-4 text-center"><!-- col-md-4 Bootstrap -->
                <span class="lnr lnr-user"></span>
                <h2>Networking Essentials (Cisco)</h2>
                <p>Curso de manejo de redes y configuracion de las mismas</p>
            </div>
            <div class="col-md-4 text-center"><!-- col-md-4 Bootstrap -->
                <span class="lnr lnr-user"></span>
                <h2>Introducción al desarrollo web 1 (Google)</h2>
                <p>Primera parte del curso introductorio de HTML y CSS de Google</p>
            </div>
            <div class="col-md-4 text-center"><!-- col-md-4 Bootstrap -->
                <span class="lnr lnr-user"></span>
                <h2>Introducción al desarrollo web 2 (Google)</h2>
                <p>Segunda parte del curso introductorio de HTML y CSS de Google</p>
            </div>
            <div class="col-md-4 text-center"><!-- col-md-4 Bootstrap -->
                <span class="lnr lnr-user"></span>
                <h2>Ciberseguridad en el teletrabajo (Google): </h2>
                <p>Consejos para manter un habito de trabajo seguro con el teletrabajo</p>
            </div>
        </div>
    </div>
</section>

  <section class="imagencursos">
    <div class="contenedor">
      <div class="carousel">
          <div class="carousel__contenedor">
              <button aria-label="Anterior" class="carousel__anterior">
                  <i class="fas fa-chevron-left"></i>
              </button>
              <div class="carousel__lista">
                  <div class="carousel__elemento">
                      <img src="../assets/certificados/HTML-CSS-1.png" alt="">
                      <p>HTML-CSS-1 (GOOGLE)</p>
                  </div>
                  <div class="carousel__elemento">
                      <img src="../assets/certificados/HTML-CSS-2.png" alt="">
                      <p>HTML-CSS-2 (GOOGLE)</p>
                  </div>
                  <div class="carousel__elemento">
                      <img src="../assets/certificados/linux.png" alt="">
                      <p>LINUX (CISCO)</p>
                  </div>
                  <div class="carousel__elemento">
                      <img src="../assets/certificados/marketing.png" alt="">
                      <p>MARKETING (GOOGLE)</p>
                  </div>
  
                  <div class="carousel__elemento">
                      <img src="../assets/certificados/networking.png" alt="">
                      <p>NETWORKING (CISCO)</p>
                  </div>
                  <div class="carousel__elemento">
                      <img src="../assets/certificados/python.png" alt="">
                      <p>PYHTON (CISCO)r</p>
                  </div>
                  <div class="carousel__elemento">
                      <img src="../assets/certificados/seguridadtele.png" alt="">
                      <p>SEGURIDAD EN EL TELETRABAJO (GOOGLE)</p>
                  </div>
                  <div class="carousel__elemento">
                      <img src="../assets/certificados/seprogramar.png" alt="">
                      <p>SE PROGRAMAR (ARGETNINA)r</p>
                  </div>
              </div>
              <button aria-label="Siguiente" class="carousel__siguiente">
                  <i class="fas fa-chevron-right"></i>
              </button>
          </div>
          <div role="tablist" class="carousel__indicadores"></div>
      </div>
    </div>
  </section>
