   <!-- Estudios -->
   <section class="section-primary" id="estudios">
    <div class="container">
        <div class="fila">
            <div class="col-md-12 section-heading"><!-- col-md-12 Bootstrap -->
                <h2>Mis estudios</h2>
                <p class="lead">Linea de tiempo</p>
            </div>
        </div>
        <div class="fila">
            <div class="col-md-12"><!-- col-md-12 Bootstrap -->
                <!-- Linea de tiempo-->
                <div id="lineadetiempo">
                    <!--  Elemento de línea de tiempo, copiar desde aquí para crear varias cajas -->


                    <div class="lineadetiempo-item">
                        <!--Icono dentro del círculo-->
                        <div class="lineadetiempo-icon">
                        </div>
                        <!-- Contenido del cuadro de tiempo y posición (derecha o izquierda)-->
                        <div class="lineadetiempo-contenido">
                            <h2>Primaria 2009-2015</h2>
                            <p>Colegio Santa Ana. Ciudad Evita.</p>
                        </div>
                    </div>
                    <!-- Elemento de línea de tiempo, copiar desde aquí para crear varias cajas -->


                    <div class="lineadetiempo-item">
                        <!--Icono dentro del círculo-->
                        <div class="lineadetiempo-icon">
                        </div>
                        <!-- Contenido del cuadro de tiempo y posición (derecha o izquierda)-->  
                        <div class="lineadetiempo-contenido">
                            <h2>Secundario tecnico 2016-2022</h2>
                            <p>Instituto Madero.</p>
                        </div>
                    </div>
                    <!-- Elemento de línea de tiempo, copiar desde aquí para crear varias cajas -->


                    <div class="lineadetiempo-item">
                        <!--Icono dentro del círculo-->
                        <div class="lineadetiempo-icon">
                        </div>
                        <!-- Contenido del cuadro de tiempo y posición (derecha o izquierda)-->
                        <div class="lineadetiempo-contenido">
                            <h2>Ingenieria en Sistemas 2023-2028</h2>
                            <p>UTN (Universidad Tecnológica Nacional)</p>
                        </div>
                    </div>
                    <!-- Elemento de línea de tiempo, copiar desde aquí para crear varias cajas -->

                  
                    </div>
                </div>
                <!-- col-md-12 Bootstrap-->
            </div>
            <!-- fila -->
        </div>
</section>
