<section>
    <div class="skills">
        <h3 class="title">Habilidades:⠀<a href="#editarhabilidades"><button class="button-85" role="button">✏️</button></a>⠀<a href="#eliminarhabilidades"><button class="button-85" role="button">🗑️</button></a></h3>
        <div class="box-container">
            <div class="box">
                <div class="progress">
                    <h3>HTML<span>95%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>CSS<span>80%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>JavaScript<span>60%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>PHP<span>75%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>Angular<span>90%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>Spring boot<span>60%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
            </div>
            <div class="box">
                <div class="progress">
                    <h3>Diseñador web<span>80%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>Linux<span>100%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
                <div class="progress">
                    <h3>MySql<span>90%</span></h3>
                    <div class="bar"><span></span></div>
                </div>
            </div>
        </div>
    </div>
</section>


<div id="editarhabilidades" class="modalmask">
    <div class="modalbox movedown">
            <div class="login">
                <h1 class="text-center" style="color: aliceblue; text-align: center;">Menu de editar Habilidades</h1>
                <form action="#" target="" method="get" name="formDatosPersonales">
                    <label for="Habilidad">Habilidad</label>
                    <input name="Habilidad" id="Habilidad" placeholder="Nombre de la Habilidad" required />
                    <label for="Porcentaje">Porcentaje</label>
                    <input name="Porcentaje" id="Porcentaje" placeholder="Porcentaje del conocimiento" required />
                    <input type="submit" name="enviar" value="enviar datos"/>
                </form>

            </div>
        </div>
    </div>


    <div id="eliminarhabilidades" class="modalmask">
        <div class="modalbox movedown">
                <div class="login">
                    <h1 class="text-center" style="color: aliceblue; text-align: center;">Menu de eliminar</h1>
                    <form action="#" target="" method="get" name="formDatosPersonales">

                        <label for="email" >Eliminar:</label>
                        <div>
                            <select>
                              <option value="opcion-1">HTML</option>
                              <option value="opcion-2">CSS</option>
                              <option value="opcion-n">JavaScript</option>
                              <option value="opcion-n">PHP</option>
                              <option value="opcion-n">Angular</option>
                              <option value="opcion-n">MySql</option>
                            </select>
                          </div>
                        <input type="submit" name="enviar" value="enviar datos"/>
                    </form>

                </div>
            </div>
        </div>