   <!-- MENU SUPERIOR-->
   <header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"  id="inicio">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="../assets/imagenes/logo.png" alt="" class="logo" height="70" width="110">
        </a>
        <ul>
            <li><a class="active" href="#inicio" >Inicio</a></li>
            <li><a href="#sobremi" >Sobre mi</a></li>
            <li><a href="#experiencia">Experiencia</a></li>
            <li><a href="#estudios">Educacion</a></li>
            <li><a href="#cursos">Cursos</a></li>
        </ul>
    </nav>
   </header>


<!-- BANNER-->
<section class="imagen-banner">
<div class="filtro-oscuro-imagen"></div>
    <div class="centradoinicio">
        <div class="row"> <!--Fila de Bootstrap-->
            <div class="col-md-12"><!--Estilo de Bootstrap-->
                <h1>Lautaro Diez</h1>
                <p class="centradoinicio-subtitulo"><span>Diseñador</span>
                <span class="colorenfasis">•</span>
                <span>Tecnico electronico</span> <span class=
                "colorenfasis">•</span> <span>Estudiante de ingenieria en sistemas</span></p>
            </div>
        </div>
    
        <div class="bottom">
            <a href="#sobremi">
            <div class="raton-icon">
                <div class="scroll">
                </div>
            </div></a>
        </div>
    </div><!-- /centradoinicio -->
</section>
