   <!-- MENU SUPERIOR-->
   <header>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"  id="inicio">
            <i style="font-size: 50px;">≡</i>
        </label>
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="enlace">
            <img src="../assets/imagenes/logo.png" alt="" class="logo" height="70" width="110">
        </a>
        <ul>
            <li><a class="active" href="#modalinicio">LOGIN</a></li>
            <li><a href="https://github.com/Diez111" >GitHub</a></li>
            <li><a href="#cursos">Twitter</a></li>
        </ul>
    </nav>

    <div id="modalinicio" class="modalmask">
        <div class="modalbox rotate">
   
                <div class="login">
                   
                    <h1 class="text-center">Menu de login</h1>
                    
                    <form class="needs-validation">
                        <div class="form-group was-validated">
                            <label class="form-label" for="email">Direccion de email</label>
                            <input class="form-control" type="email" id="email" required>
                            <div class="invalid-feedback">
                                Inserte su direccion de email
                            </div>
                        </div>
                        <div class="form-group was-validated">
                            <label class="form-label" for="password">Contraseña</label>
                            <input class="form-control" type="password" id="password" required>
                            <div class="invalid-feedback">
                               Inserte su contraseña
                            </div>
                        </div>
                       <input class="btn btn-success w-100" type="submit" value="Cambiar">          
                    </form>
            
                </div>
            </div>
        </div>
   </header>


<!-- BANNER-->
<section class="imagen-banner">
<div class="filtro-oscuro-imagen"></div>
    <div class="centradoinicio">
        <div class="row"> <!--Fila de Bootstrap-->
            <div class="col-md-12"><!--Estilo de Bootstrap-->
                <h1>Lautaro Diez</h1>
                <p class="centradoinicio-subtitulo"><span>Diseñador</span>
                <span class="colorenfasis">•</span>
                <span>Tecnico electronico</span> <span class=
                "colorenfasis">•</span> <span>Estudiante de ingenieria en sistemas</span></p>
            </div>
        </div>
    
        <div class="bottom">
            <a href="#sobremi">
            <div class="raton-icon">
                <div class="scroll">
                </div>
            </div></a>
        </div>
    </div><!-- /centradoinicio -->
</section>

