<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Responsive</title>
</head>
<body style="background-color: rgb(187, 207, 212);">
  <app-encabezado></app-encabezado> <!--ENCABEZADO-->
     <app-sobremi></app-sobremi><!--SOBRE MI-->
       <app-experiencia></app-experiencia><!--EXPERIENCIA LABORAL-->
         <app-estudios></app-estudios><!--ESTUDIOS-->
           <app-cursos></app-cursos><!--CURSOS-->
             <app-piedepagina></app-piedepagina><!--PIE DE PAGINA-->
   </body>
  </html>