
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Iconos  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
  <app-encabezado></app-encabezado>
<header class="container">
  <app-menusuperior></app-menusuperior>
<section class="information">
  <app-sobremi></app-sobremi>
  <app-tecnologias></app-tecnologias>
  <app-habilidades></app-habilidades>
  <app-estudios></app-estudios>
  <app-experiencia></app-experiencia>
  <app-cursos></app-cursos>
  <app-infocontacto></app-infocontacto>
</section>
 </header>
</body>
</html>