       <!-- sobre mi -->
       <section class="section-primary" id="sobremi">
        <div class="container">
            <div class="fila">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <img class="profilepic" src= "../assets/imagenes/Yo.jpg">
                    <h2>Sobre mi</h2>
    
                    <p class="lead">Soy una persona muy ordenada a la cual le gusta tener anotadas las tareas
                        que debo hacer para realizarlas en un orden pre establecido y de esa
                        manera organizar mejor el tiempo.
                        Una de las razones por la cual estudio la carrera de Ingeniería en sistemas
                        es por el enfoque que tiene sobre el uso de la información y como se
                        gestionan los procesos necesarios para llegar a realizar una tarea o
                        proyecto, de la forma mas eficiente posible. Todo esto aplicando algoritmos
                        informáticos que vayan mejorando a medida que tengan mas información.</p>
                </div><!-- /col-md-6 Bootstrap -->
            </div><!--  fila -->
        </div><!-- contenedor -->
    </section>