       <!-- sobre mi -->
       <section class="section-primary" id="sobremi">
        <div class="container">
            <div class="fila">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <img class="profilepic" src= "../assets/imagenes/Yo.jpg">
                    <h2>Sobre mi</h2>
    
                    <p class="lead">Soy una persona muy ordenada a la cual le gusta tener anotadas las tareas
                        que debo hacer para realizarlas en un orden pre establecido y de esa
                        manera organizar mejor el tiempo.
                        Una de las razones por la cual estudio la carrera de Ingeniería en sistemas
                        es por el enfoque que tiene sobre el uso de la información y como se
                        gestionan los procesos necesarios para llegar a realizar una tarea o
                        proyecto, de la forma mas eficiente posible. Todo esto aplicando algoritmos
                        informáticos que vayan mejorando a medida que tengan mas información.</p>
                </div><!-- /col-md-6 Bootstrap -->
            </div><!--  fila -->
            <div class="middle">
                <a  href="#modal2" class="btn btn3">✏️ Editar "sobre mi"</a>
              </div>
          
            <div id="modal2" class="modalmask">
                <div class="modalbox rotate">
           
                        <div class="login">
                           
                            <h1 class="text-center">Menu de edicion</h1>
                            
                            <form class="needs-validation">
                                <div class="form-group was-validated">
                                    <label class="form-label" >completar campo</label>
                                    <input class="form-control" required>
                                </div>
                                
                                <span class="fileUpload btn btn-success">
                                    <span class="upl" id="upload">Subir imagen</span>
                                    <input type="file" class="upload up" id="up" onchange="readURL(this);" />
                                  </span><!-- btn-orange -->

                               <input class="btn btn-success w-100" type="submit" value="Cambiar">          
                            </form>
                    
                        </div>
                   
                </div>
            </div>

        </div><!-- contenedor -->
    </section>