<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn"  id="inicio">
        <i style="font-size: 50px;">≡</i>
    </label>
    <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" class="enlace">
        <img loading="lazy" src="../assets/imagenes/logo.png" alt="" class="logo" height="70" width="110">
    </a>
    <ul>
        <li><a class="active" href="#modalinicio">LOGIN</a></li>
        <li><a href="#modalcrearcuenta">Crear cuenta</a></li>
        <li><a href="#modaleditar">Editar</a></li>
        <li><a href="#modaleeliminar">Eliminar</a></li>
    </ul>
</nav>

<div class="profile">
    <img src="../assets/imagenes/Yo.jpg" alt="">
    <h3>Lautaro Diez</h3>
    <p>desarrollador fullstack junior</p>
    <div class="share">
        <a href="https://github.com/Diez111" class="fab fa-github"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-linkedin"></a>
    </div>
    <div class="buttons">
        <a href="#" class="btn">Descargar CV</a>
    </div>
</div>