
        <section>
            <div class="services">
                <h3 class="title">Tecnologias:<a href="#editartecnologia">⠀<button class="button-85" role="button">✏️</button></a>⠀<a  href="#eliminartecnologia"><button class="button-85" role="button">🗑️</button></a></h3>
                <div class="box-container">
                    <div class="box">
                        <img loading="lazy" src="../assets/iconos/icon-1.png" alt="">
                        <h3>HTML</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/iconos/icon-2.png" alt="">
                        <h3>CSS</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/iconos/icon-3.png" alt="">
                        <h3>JavaScript</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/iconos/php.png" alt="">
                        <h3>PHP</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/iconos/angular.png" alt="">
                        <h3>Angular</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/iconos/mysql.png" alt="">
                        <h3>MySQL</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/iconos/java.png" alt="">
                        <h3>Java</h3>
                    </div>
                    <div class="box">
                        <img loading="lazy" src="../assets/iconos/springboot.webp" alt="">
                        <h3>Spring boot</h3>
                    </div>
                </div>
            </div>
            </section>
    

            <div id="editartecnologia" class="modalmask">
                <div class="modalbox movedown">
                        <div class="login">
                            <h1 class="text-center" style="color: aliceblue; text-align: center;">Menu de editar tecnologias</h1>
                            <form action="#" target="" method="get" name="formDatosPersonales">
                                <label for="Habilidad">Habilidad:</label>
                                <input name="Habilidad" id="Habilidad" placeholder="Nombre de la Habilidad" required />
                                <label for="Porcentaje">Imagen:</label>
                                <input type="file" name="archivosubido">
                                <input type="submit" name="enviar" value="enviar datos"/>
                            </form>
            
                        </div>
                    </div>
                </div>
            
            
                <div id="eliminartecnologia" class="modalmask">
                    <div class="modalbox movedown">
                            <div class="login">
                                <h1 class="text-center" style="color: aliceblue; text-align: center;">Menu de eliminar</h1>
                                <form action="#" target="" method="get" name="formDatosPersonales">
            
                                    <label for="email" >Eliminar:</label>
                                    <div>
                                        <select>
                                          <option value="opcion-1">HTML</option>
                                          <option value="opcion-2">CSS</option>
                                          <option value="opcion-n">JavaScript</option>
                                          <option value="opcion-n">PHP</option>
                                          <option value="opcion-n">Angular</option>
                                          <option value="opcion-n">MySql</option>
                                        </select>
                                      </div>
                                    <input type="submit" name="enviar" value="enviar datos"/>
                                </form>
            
                            </div>
                        </div>
                    </div>